@media only screen and (min-width: 672px) {
    .produkty {
        &__list {
            grid-template-columns: 1fr 1fr 1fr;
            padding: 100px 30px;
            gap: 40px 70px;
            & p {
              font-size: 20px;
            }
          }
        &__category {
            font-size: 1.5em;
        }
        &__tag {
            font-size: 1.1em;
        }

    }
    .section__header {
        font-size: 35px;
  }
} 

@media screen and (min-width: 565px) {
  .kontakt__form input {
    width: 485px;
  }
}

@media screen and (min-width: 670px) {
  .nav__icon {
    display: none;
  }
  .nav {
    display: inline;
    &__item {
      font-size: 21px;
      padding: 0 0 0 20px;
    }
  }
  header {
    align-items: center;
    justify-content: space-around;
  }
}