@media only screen and (min-width: 672px) {
    .produkty {
        &__list {
            grid-template-columns: 1fr 1fr 1fr;
            padding: 100px 30px;
            gap: 40px 70px;
            & p {
              font-size: 20px;
            }
          }
        &__category {
            font-size: 1.5em;
        }
        &__tag {
            font-size: 1.1em;
        }

    }
    .section__header {
        font-size: 35px;
  }
  .container:hover .overlay {
    opacity: 0.8;
  }
  .produkty__item:hover img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  .container {
    cursor: pointer;
  }
} 

@media screen and (min-width: 565px) {
  input, textarea {
    width: 485px;
  }
  .bigBox2 {
    flex-direction: row;
    justify-content: center;
  }
  .image {
    margin: auto 20px auto auto;
    padding-left: 10px;
  }
}

@media screen and (min-width: 670px) {
  .nav__icon {
    display: none;
  }
  .nav {
    display: inline;
    &__item {
      font-size: 21px;
      padding: 0 0 0 20px;
      &::after {
        content: "";
        display: block;
        border-bottom: $hover 1px solid;
        transform: scaleX(0);
        transition: transform 300ms ease-in-out;
      }
      &:hover::after {
        transform: scaleX(1);
    }
  }
}
  header {
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 440px) {
  .box {
    margin-right: auto;
    text-align: center;
    & p {
      font-size: 19px;
    }
  }
}
@media screen and (min-width: 900px) {
  .modal h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 723px) {
  .bigBox {
    height: calc(100vh - 300px);
    & img {
      height: 50vh;
    }
    & button {
      display: none;
    }
  }
  .btn--container {
    display: flex;
  }

}